.bg-container {
  background-image: url("https://i.pinimg.com/originals/89/6a/3f/896a3fe7f6ba914f26e2d1ea588d583f.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.overlay{
    height: 100vh;
    background-color: rgba(20, 255, 165, 0.199);
}

.input-col {
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(rgba(20, 255, 165, 0.74),rgb(43, 156, 43));
  mix-blend-mode: normal;
  backdrop-filter: blur(80px);
}

.input-form {
  min-width: 60%;
  margin: 0 20px;
}

@media(max-width: 1260px){
    .input-col{
        width: 40%;
    }
}


@media(max-width: 960px){
    .input-col{
        width: 100%;
    }
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.field {
  margin: 40px 0;
  position: relative;
}

.field input {
  padding: 10px 0;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgb(0, 45, 66);
  color: rgb(0, 45, 66);
  font-weight: bold;
  width: 100%;
}

.field input::placeholder {
  color: transparent;
}

.field label {
  display: block;
  color: rgba(0, 45, 66, 0.733);
}

.alter-div{
    text-align: center;
    margin: 40px 0;
}


.login-btn{
    display: block;
    margin: auto;
    padding: 10px 16px;
    outline: 0;
    border: 2px solid rgb(0, 45, 66);
    background-color: transparent;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.input-form p{
    margin-top: 80px;
}

.input-form a{
    color: rgb(0, 119, 255);
    font-weight: bold;
}
